/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mia-print-element { width: 100%;}


.modal-settings-page{
  mat-dialog-container{
    padding: 0 !important;
    margin: 0 !important;

    mat-dialog-content{
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  lib-mia-form-modal-v3{
    .settings-page-layout-dialog{
      .layout{
        display: flex;
        min-height: 500px;
        max-height: 800px;
        overflow: hidden;
        align-items: stretch !important;

        .navigation{
          background-color: #EFEFEF;
          width: 320px;
          min-width: 320px;
          max-width: 320px;
          padding: 1.5em;
          box-sizing: border-box;
          height: initial !important;

          h2{
            margin-bottom: 2em;
          }

          .link{
            font-size: 1.1em;
            font-weight: 600;
            color: #696969;
            margin-bottom: 1em;
            padding: 0.3em 0;
            cursor: pointer;
            &:hover{
              color: #333333;
            }
          }

          .link-active{
            color: #222222 !important;
            text-decoration: underline;
          }
        }

        .content{
          overflow-y: auto;
          display: flex;
          flex-direction: column;
        }
      }
    }

    .settings-page-general{
      padding: 3em;
      overflow-y: auto;

      .buttons{
        display: flex;
        align-items: center;
        margin-top: 2em;

        .separate-line-vert{
          width: 1px;
          min-width: 1px;
          height: 20px;
          margin: 0 1.5em;
          background-color: rgba($color: #000000, $alpha: 0.1);
        }
      }
    }
  }
}
